@model WebsiteForAds.Models.Post

@{
    ViewBag.Title = "Details";
}

<div class="details">
    <h2>Обява</h2>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Заглавие:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                Съдържание:
            </dt>
            <dd>
                <textarea rows="20" class="form-control text-box multi-line valid" disabled="disabled" style="background-color:white; color:black;">@Model.Body</textarea>
            </dd>
            <dt>
                Добавена на:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt>
                Имейл за контакт:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AuthorEmail)
            </dd>
            <dt>
                Снмика:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Picture)
            </dd>
        </dl>
    </div>
    <br />
    <div >
       @Html.ActionLink("Виж коментарите към тази обява", "Comments")
    </div>
    <br />
    
    <div>
        <h2>Добавяне на коментар</h2>

        @using (Html.BeginForm("AddComment", "Posts", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <label for="Content">Съдържание:</label>
            <input id="Content" type="text" name="Body" value="" />
            <input type="submit" name="submit" value="Добави" />
            <input id="postId" type="hidden" name="PostId" value="@Model.Id" />
        }
    </div>
</div>
<br />
<br />
<p>
    @Html.ActionLink("Обратно към обявите", "Index")
</p>
