@model WebsiteForAds.Models.Post

@{
    ViewBag.Title = "Details";
}

<div class="details">
    <h2>Обява</h2>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Заглавие:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                Съдържание:
            </dt>
            <dd>
                <textarea rows="20" class="form-control text-box multi-line valid" disabled="disabled" style="background-color:white; color:black;">@Model.Body</textarea>
            </dd>
            <dt>
                Добавена на:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt>
                Имейл за контакт:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AuthorEmail)
            </dd>
            <dt>
                Снмика:
            </dt>
            <dd>
                @if (Model.Picture != null)
                {
                    <img src="@Url.Content(Model.Picture)" height="400" width="400">
                }
            </dd>
        </dl>
    </div>
    <br />
</div>
<br />
<br />
<p>
    @Html.ActionLink("Обратно към обявите", "Index")
</p>
