@{
    ViewBag.Title = "Home";
}
<link href="~/Content/advertisementsStyle.css" rel="stylesheet" type="text/css" />
@model List<WebsiteForAds.Models.Post>
    <h1 class="homePageTitle">Скоро добавени обяви</h1>
@foreach (var post in Model)
{
    <section class="row">
        <article class="advertismentHomePage">
            <h2 class="title">@Html.ActionLink(post.Title, "Details", new { id = post.Id })</h2>
            <div class="about">
                Публикувано на <i>@post.Date</i>
                @if (post.Author != null)
                {
                    @:от <i>@post.Author.FullName (@post.Author.UserName)</i>
                }
            </div>
            <div class="body">
                <p>@post.Body</p>
            </div>

        </article>
    </section>
}

